/* Override this file to customise the theme's CSS for your site */

@font-face {
  font-display: swap;
  font-family: "Shinonome Gothic Medium 14";
  src: url("/fonts/shnmk14.woff2");
}

* {
  font-family: "Shinonome Gothic Medium 14";
}

code {
  font-family: "Shinonome Gothic Medium 14"!important;
}

.main-nav ul {
  padding: 0 0 0.25rem 0;
  gap: 0rem 1.5rem;
}

.main-nav li {
  padding-top: 0.25rem;
  margin-left: 1rem;
}