/* Override this file to customise the theme's CSS for your site */

@font-face {
  font-display: swap;
  font-family: "Shinonome Font 12";
  src: url("/fonts/shnmk12.woff2");
}

* {
  font-family: "Shinonome Font 12";
}